*.DS_Store
*~
/.CFUserTextEncoding
/.Trash/
/.history
/.*[_-]history
/.atom/
/.belastingdienst.nl/
/.cache/
/.config/
/.dropbox/
/.emscripten*
/.gem/
/.ghc/
/.heroku/
/.ivy2/
/.lein/
/.lesshst
/.m2/
/.node-gyp/
/.npm/
/.pip/
/.private/
/.rbenv/
/.sbt/
/.ssh/
/.subversion/
/.vagrant.d/
/.vim/.netrwhist
/.viminfo
/.zcompdump
/.zilverline*
/.zinc/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/VirtualBox\ VMs/
/accounts
/breakable-toys
/proj
/talks
