.Trash/
.CFUserTextEncoding
.cache/
.config/
.cups/
.dropbox/
.gem/
.ghc/
.heroku/
.lein/
.lighttable/
.node-gyp/
.npm/
.pip/
.rvm/
.ssh/
.subversion/
.m2/
.ivy2/
.sbt/
.anyconnect
.dbshell
.mongorc.js
.netrc
.viminfo
.vim/.netrwhist
.lesshst
.*[_-]history
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Send Registration
Sites/
accounts
proj
.DS_Store
.*.swp
