[user]
  name = Bart Bakker
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  unstage = reset HEAD

  ca = commit --all

  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  r = !git l -30
  ra = !git r --all
  head = !git l -1
  h = !git head

  graph = log --graph --pretty=format:'%C(yellow)%h%Creset%C(red)%d%Creset %C(white)%s%Creset' --all

[merge]
  tool = vimdiff
[svn]
  rmdir = true

[push]
  default = simple
