*.DS_Store
*~
/.CFUserTextEncoding
/.Trash/
/.IntelliJIdea*/
/.history
/.*[_-]history
/.android/
/.atom/
/.belastingdienst.nl/
/.boot2docker/
/.cabal/
/.cache/
/.cargo/
/.cocoapods/
/.config/
/.cups/
/.did_show_opt_info
/.itmstransporter/
/.dropbox/
/.elm/
/.emscripten*
/.gem/
/.ghc/
/.gnupg/
/.gradle/
/.heroku/
/.htoprc
/.ivy2/
/.jssc/
/.lldb/
/.lein/repl-history
/.lesshst
/.local/
/.m2/
/.netrc
/.node-gyp/
/.ngrok2/
/.npm/
/.pip/
/.private/
/.rbenv/
/.sbt/
/.ssh/
/.stack/
/.subversion/
/.tmp/
/.vagrant.d/
/.vim/.netrwhist
/.vim/bundle/*
/.viminfo
/.workaway
/.zcompdump
/.zilverline*
/.zinc/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/VirtualBox VMs/
/accounts
/bin/
/breakable-toys
/proj
/sdks/
/src/
/talks
/.freemle.yml
