[user]
    name = Bart Bakker
    email = bart@thesoftwarecraft.com
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend

    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
    r = !git l -30
    ra = !git r --all
    head = !git l -1
    h = !git head

[merge]
  tool = vimdiff
[svn]
    rmdir = true

